{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "vtv": "./packages/vtv/src",
          "@resources/console": "./packages/console/src"
        }
      }
    ]
  ]
}
