{
  "presets": ["next/babel"],
  "env": {
    "development": {
      "plugins": [
        [
          "module-resolver",
          {
            "alias": {
              "vtv": "./packages/vtv/src"
            }
          }
        ]
      ]
    }
  }
}
