body, div, iframe {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
}

.edit {
  flex-grow: 1;
  width: 50%;
  overflow-y: scroll;
}

.preview {
  width: 50%;
  flex-grow: 1;
}

.preview iframe {
  width: 100%;
  height: 100%;
  border: 0;
}