button.vtv--generic-action-button--button {
  cursor: pointer;
  color: var(--vtv-action-text-color);
  background-color: var(--vtv-action-color);
  border-radius: 9999px;
  outline: none;
  padding: 3px 7px;
  font-size: inherit;
  border: 0;
}

button.vtv--generic-action-button--button.primary {
  background-color: var(--vtv-primary-action-color);
}

button.vtv--generic-action-button--button:disabled,
button.vtv--generic-action-button--button.primary:disabled {
  color: var(--vtv-disabled-action-text-color);
  background-color: var(--vtv-disabled-action-color);
}
